.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flexStart {
    display: flex;
    align-items: center;
    justify-content: start;
}

.flexEnd {
    display: flex;
    align-items: center;
    justify-content: end;
}

.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeContainer {
    width: 82%;
    margin: auto;
}

.homeTopBanner {
    height: 532px;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBannerBg {
    background: #062F58;
    height: 202px;
}

.tickIcon {
    width: 33px;
    height: 33px;
}

.whyUsLeftSection {
    width: 65%;
    margin: auto;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type {
    box-shadow: none !important;
    border: 1px solid !important;
}

.faqBorder {
    display: block;
    height: 8px;
    background-color: #047FF7;
    width: 92%;
}

.HomeFooter {
    height: 450px;
    background: #062F58;
}

.faqHeading {
    width: 100px;
}

.dialogBackdrop {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #a8a8a86b;
    overflow-y: scroll;
}

.dialogCard {
    width: 62%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0;
    margin-left: 19%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99999;
    /* overflow-y: hidden; */
}

.authDialogLeft {
    background: #047FF7;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.authTickIcon {
    font-size: 22.26px;
    color: white;
}

.pointer {
    cursor: pointer;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 8px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #D8D8D8 !important;
    font-size: 16px !important;
    font-weight: 400px !important;
}

.nav-tabs .nav-link.active {
    border: none !important;
    border-bottom: 2px solid #0e6ffd !important;
    color: #0e6ffd !important;
}

.nav-link {
    color: black !important;
}

.nav-tabs .nav-link:hover {
    border: none !important;
    border-bottom: 2px solid #0e6ffd !important;
}

.nav-tabs .nav-link {
    border: none !important;
}

.nav-tabs {
    width: 100%;
}

.nav-item {
    width: 50%;
}

.nav-link {
    width: 100%;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 13.5px 12px !important;
}